.bgImageStyles {
    background-repeat: no-repeat;
    background-position: center;
    width:1150px;
    height:2100px;
    background-size: cover;
}

.containerStyles{
    text-align: center;
    color:white;
    padding-top: 10%;
    padding-bottom: 40%;
}